* {box-sizing: border-box;}
body { 
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
.header {
	overflow: hidden;
	background-color: #020E26;
	padding: 10px 10px;
}
.header a {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 8px 12px;
	text-decoration: none;
	font-size: 18px; 
	line-height: 25px;
	border-radius: 4px;
	vertical-align: bottom;
	font-family: Ubuntu, Microsoft JhengHei UI, sans-serif;
	display: none;
}
.header img {
	float:left;
}
.header a.logo {
	font-size: 25px;
	/*font-weight: bold;*/
}
.header a:hover {
	background-color: #051940;
	color: #ffffff;
}
.header a.active {
	background-color: #0367A6;
	color: white;
	display: block;
}
.header-left {
	float: left;
}
@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}
.content {
	padding: 16px;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content {
	padding-top: 102px;
}
img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}