/** GLOBAL **/

.wrapper {
    background-color: #fcfcfc;
    z-index: 0;
    position:relative;
    
}

/** NAVBAR **/

.navbar {
    height: 70px;
}

/** HEADER **/

p, h1 {
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}

.description {
    padding: 4%;
    width: 350px;
    max-width: 70%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.neil {
    /*text-decoration: underline;*/
    color: black;
    position:relative;
    display:inline-block;
}

.neil::after {
    content: "";
    position: absolute;
    width: 110%;
    background: powderblue;
    left: -.1em;
    top: .6em;
    height: .6em;
    z-index: -1;
}

.profile {
    padding: 4%;
    width: 300px;
    max-width: 70%;
}

.profile-cropper {
    border-radius: 50%;
    overflow: hidden;
}

.profile-pic {
    object-fit: contain;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    font-size: 48px;
}

@media (max-width: 800px) {
    .header {
        flex-direction: column;
    }
}

/** SELECT BAR **/

.highlight {
    position:relative;
    display:inline-block;
}

.highlight::after {
    content: "";
    position: absolute;
    width: 100%;
    background: powderblue;
    left: -2px;
    top: .75em;
    height: .5em;
    z-index: -1;
    transition: 0.2s;
}

.highlight:hover {
    cursor: pointer;
}

.highlight:hover::after, .active::after {
    top: .1em;
    height: 1.25em;
    left: -10%;
    width: 120%;
}

.active::after {
    background: rgb(148, 188, 194);
}

/*
#me::after {
    background: pink;
}

#work::after {
    background: khaki;
}

#classes::after {
    background: rgb(161, 222, 202);
}

#resume::after {
    background: thistle;
}*/

@media (max-width: 400px) {
    .select {
        flex-direction: column;
    }
}

.select {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.select-item {
    padding: 1%;
    font-weight: bold;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.option {
    color: black;
    font-weight: bold;
}

/** BODY **/

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: rgb(238, 243, 244);
    border: 2px solid #999;
    border-width: 2px 0px 2px 0px;
    border-radius: 0px;
    padding: 20px 0px 20px 0px;
    line-height: 26px;
    width: 100%;
    position: relative;
    z-index: 0;
    /**border-radius: 10px;**/
    transition: 0.2s;
    display: flex;
    justify-content: center;
}

.text {
    width: 67%;
}

a {
    text-decoration: underline;
    color: rgb(46, 113, 122);
}

p {
    font-size: 18px;
}

.box, .me, .work, .classes {
    display:none;
}

.classes table p {
    padding: 0px 0px 0px 30px;
}

.classes table span {
    font-weight: bold;
}

/** FOOTER **/

.footer {
    display: flex;
    align-items: bottom;
    justify-content: right;
    height: 100px;
    padding: 20px;
    padding-bottom: 0px;
}

.footer p {
    align-self: flex-end;
    font-size: 12px;
    padding: 20px;
}