#resume {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 125px;
	background-color: #051940;
	border: 1px solid #ffffff;
	color: #E9F2EA;
	font-family: Microsoft JhengHei UI, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
	/*font-weight: bold;*/
	font-size: 18px;
	transition: 0.2s;
}
#bigplate {
	background-image: url("oceanpic5.jpg");
	background-size: 1200px;
	background-position: center bottom;/*-400px*/
	border-radius: 10px;
	/*height:500px;
	padding-top: 135px;*/
}
#grad {
	width: 100%;
	height: 140px;
	/*background-image: linear-gradient(90deg, #3387C6, #4397D6);*/
	/*background-image: linear-gradient(90deg, #3387C6, #3387C6, #3387C6, #2AB0BF, #2AB0BF);*/
	/*background-image: radial-gradient(circle at 83% 50%, #E9F2EA, #3387C6, #3387C6, #3387C6);*/
	/*background-color: #0367A6;*/
	/*background-color: #3387C6;*/
	/*background-image: url("powderexplode.jpeg");
	background-size: 100%;
	background-position: center -60%;/*-400px*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	padding: 15px;
}
#grad2 {
	width: 100%;
	/*height: 55px;*/
	/*background-image: linear-gradient(90deg, #3387C6, #4397D6);*/
	/*background-image: linear-gradient(90deg, #3387C6, #3387C6, #3387C6, #2AB0BF, #2AB0BF);*/
	/*background-image: radial-gradient(circle at 96% -125%, #E9F2EA, #3387C6, #3387C6, #3387C6);*/
	/*background-color: #0367A6;*/
	/*background-color: #3387C6;*/
	/*background-image: url("powderexplode.jpeg");
	background-size: 100%;
	background-position: center -27.5%;/*-570px*/
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 20px;
	margin: 0 auto;
	padding: 0px 20px 20px 20px;
}
/*#leftholder*/ 
#nameholder {
	border-radius: 7px;
	background-color: white;
	width: 100%;
	height:110px;
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;"
}
#descholder {
	border-radius: 7px;
	background-color: white;
	width: 100%;
	/*height:40px;*/
	float:left;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align:center;
	padding-top: 8px;
	overflow:hidden;
}
#projectheader {
	text-align: center;
	color: #444444;
	font-family: Microsoft JhengHei UI Light, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
	font-size: 54px;
}
#malur {
	font-weight: bold;
	color: #046dae;/*#3387C6#0367A6#2AB0BF*/
	font-family: Microsoft JhengHei UI Light, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
}
.sectionheader {
	font-family: Microsoft JhengHei UI Light, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
	color: #20a5e6;
	text-decoration: underline;
	/*font-size: 36px;*/
}
.sectheadtext {
	color: black;
}
.sectioncontent {
	font-family: Microsoft JhengHei UI, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
	font-size: 16px;
}
#statholder {
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 20px 100px 20px 100px;
}
.bignum {
	font-size: 48px;
	font-family: Microsoft JhengHei UI Light, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
}
.numdesc {
	font-size: 16px;
	font-family: Microsoft JhengHei UI, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
	font-weight: bold;
}
#statholder td {
	text-align: center;
}
.projecttable {
	width: 100%;
}
.projecttable td {
	width: 50%;
	padding: 7px;
}
.projecttable div {
	/*border: 2px solid #0083a3;*/
	/*border: 2px solid #a5b0e5;*/
	border-radius: 15px;
	padding: 15px;
	/*background-color: #e5f0f5;*/
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url(bg.png) repeat 0 0, url("oceanpic2.jpg") repeat 0 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 100%), url("oceanpic2.jpg") repeat 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0.7))), url("oceanpic2.jpg") repeat 0 0;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url("oceanpic2.jpg") repeat 0 0;
	background: -o-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url("oceanpic2.jpg") repeat 0 0;
	background: -ms-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url("oceanpic2.jpg") repeat 0 0;
	background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url("oceanpic2.jpg") repeat 0 0;
	background-size: 300%;
	background-position: center bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lefttable div {
	background-position: left bottom;
}
.righttable div {
	background-position: right bottom;
}
.projecttable .innerdiv {
	padding: 1px 15px 5px 15px;
	background-color: white;
	background-image: none;
	border: 0px solid black;
	display: block;
	justify-content: none;
	align-items: none;
}
.projecttable .divtag {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), url(bg.png) repeat 0 0, url("oceanpic3.jpg") repeat 0 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0.15) 100%), url("oceanpic3.jpg") repeat 0 0;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.15)), color-stop(100%,rgba(255,255,255,0.7))), url("oceanpic3.jpg") repeat 0 0;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%), url("oceanpic3.jpg") repeat 0 0;
	background: -o-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%), url("oceanpic3.jpg") repeat 0 0;
	background: -ms-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%), url("oceanpic3.jpg") repeat 0 0;
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0.15) 100%), url("oceanpic3.jpg") repeat 0 0;
	background-size: 100%;
	background-position: center top;
	color: white;
	font-family: Microsoft JhengHei UI, Hiragino Kaku Gothic Pro, Helvetiva Neue, Ubuntu, Verdana, sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 10px 15px 5px 15px;
}
.awarded td {
	padding: 0px;
}
.awarded .innerdiv {
	border-radius: 15px 15px 0px 0px;
}
.awarded .divtag {
	border-radius: 0px 0px 15px 15px;
}
.awarded .divtag span {
	font-size: 14.5px;
}
.padder {
	height: 200px;
}
::selection {
    background-color: #b4e1f7;
    color: black;
}
::-moz-selection {
    background-color: #b4e1f7;
    color: black;
}
::-o-selection {
    background-color: #b4e1f7;
    color: black;
}
::-ms-selection {
    background-color: #b4e1f7;
    color: black;
}
::-webkit-selection {
    background-color: #b4e1f7;
    color: black;
}